.App 
  text-align: center

.Button
    all: unset
    cursor: pointer
    border: 1px solid black
    width: 10em
    padding: 0.7em
    background-color: rgb(221, 221, 221)
    border-radius: 2px

    &:hover
      background-color: darken(rgb(221, 221, 221), 10% )

.Home
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 1.5em
    min-height: 100vh