
.Intake

.intake-form
    max-height: 80vh
    overflow: scroll

.language-picker
    align-self: flex-end

.basicInfo
    display: flex
    flex-direction: column
    gap: 1em

.formInput
    display: flex
    gap: 2em

.form-prompt
    font-size: 0.8em !important
    width: 7em

.form-input
    width: 20em

.form-buttons
    margin-bottom: 2em

.form-button
    height: 1em
    width: 5em
    border-radius: 2em
    margin: 0 1em

    > img
        height: 1em

.flip-card
    perspective: 1000px
    position: relative
    width: 7em

.flip-card-inner 
    transition: transform 0.8s
    transform-style: preserve-3d

.card
    backface-visibility: hidden
    position: absolute
    top: 0
    left: 0

.card-back
    transform: rotateY(180deg)

.flipped
    transform: rotateY(180deg)
